<h1>Explore the Latest Fasion Trend!</h1>
<div class="trend-body" *ngIf="(chartConfigsWithName$ | async) as ChartConfigs">
    <div class="trend-container" *ngIf="ChartConfigs?.length !== 0; else loading">
        <div class="chart-container" *ngFor="let chartConfigwithName of ChartConfigs">
            <app-chart  [chartName]="chartConfigwithName.name"
                        [chartId]="chartConfigwithName.chartId"
                        [chartConfigs]="chartConfigwithName.config">
            </app-chart>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>