<header>
    <div class="app-header">
        <a routerLink="/" class="home-icon-container">
            <div class="home-icon">Shop-H</div>
        </a>
        <nav>
            <!-- TODO: add ng template if user have an admin accessibility -->
            <ul class="header-container">
                <li class="header-item">
                    <a routerLink="/trends">Trends</a>
                </li>
                <li class="header-item">
                    <a routerLink="/store-location">Stores</a>
                </li>
                <li class="header-item" *ngIf="!user?.token; else userProfile">
                    <a routerLink="/login">Login</a>
                </li>
                <li class="header-item">
                    <a>Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<ng-template #userProfile>
    <li class="header-item user-profile-container">
        <a class="user-name">{{user.name}}</a>
        <div class="user-profile-menu">
            <a> Profile </a>
            <a> Orders </a>
            <a (click)="logout()"> Logout </a>
        </div>
    </li>
</ng-template>