<header>
    <div class="app-header">
        <a routerLink="/" class="home-icon-container">
            <div class="home-icon">Shop-H</div>
        </a>
        <nav>
            <!-- TODO: add ng template if user have an admin accessibility -->
            <ul class="header-container">
                <li class="header-item">
                    <a routerLink="/store-location">Stores</a>
                </li>
                <li class="header-item">
                    <a routerLink="/login">Login</a>
                </li>
                <li class="header-item">
                    <a>Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
